{{template "stages" .}}
{{template "node-runtime" . -}}
EXPOSE {{.Port}}
{{if .Healthcheck -}}
HEALTHCHECK --interval=30s --timeout=5s --start-period=10s --retries=3 CMD {{.Healthcheck}}
{{end -}}
CMD {{.Command}}
